body {
  background-color: rgb (187, 182, 182);
}
p {
  font-weight: bold;
  color: #333;
}
h1 {
  text-align: center;
  color: white;
  padding:50 px; 
}

.modif {
  position: relative;
  animation: wave 0.5 s infinite alternate;
}
@keyframes wave {
  frorm {
    bottom: 5px;
  }
  to {
    bottom: 10px;
  }
}
